.toc {
	overflow: hidden;

	&__output,
	&__input {
		height: var(--bt-full-page-height);
	}

	&__output {
		display: grid;
		&_form {
			display: grid;
			gap: var(--bt-size-30);
			margin-top: var(--bt-size-24);
		}
	}
}
