.shades {
	display: grid;
	row-gap: 10px;
	&__shade {
		display: flex;
		column-gap: 10px;

		justify-content: center;
		&_box {
			color: #228be6;
			height: 50px;
			width: 50px;
			text-align: center;
		}
	}
}
