.uuid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: var(--bt-full-page-height);
	gap: var(--bt-size-20);

	&__output {
		display: flex;
		gap: var(--bt-size-10);
	}
}
