.uuid {
	display: flex;
	flex-direction: column;
	height: var(--bt-full-page-height);
	gap: var(--bt-size-20);
}

.uuid__extra {
	display: flex;
	gap: var(--bt-size-20);
}

.uuid__output {
	display: flex;
	gap: var(--bt-size-10);
}
