.br {
	display: flex;
	flex-direction: column;
	gap: var(--bt-size-20);

	&__input,
	&__output {
		height: 100%;
	}

	&__output {
		display: flex;
		align-items: center;
		justify-content: center;

		&_text,
		&_img {
			aspect-ratio: 1 / 1;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 220px;
		}

		&_img {
			object-fit: cover;
		}

		&_text {
			overflow: hidden;
		}
	}
}
