.br {
	&__output {
		display: flex;
		justify-content: center;

		&_text,
		&_img {
			width: 100%;
			aspect-ratio: 7 / 3;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&_text {
			overflow: hidden;
		}
	}
}
