.fb {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 20px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: var(--bt-z-index-dropdown);
}
