.fb {
	position: absolute;
	top: var(--bt-size-20);
	right: var(--bt-size-20);
	padding: var(--bt-size-10);
	border-radius: var(--bt-size-10);
	z-index: var(--bt-z-index-dropdown);

	&__notification {
		margin-top: 5px;
		border: none;
	}

	&__about {
		cursor: pointer;
	}
}
