.fh {
	display: flex;
	align-items: center;
	border-radius: var(--bt-size-10);
	padding: var(--bt-size-4);
	position: sticky;
	flex-direction: row;

	&__button {
		border: none;
		box-shadow: none;
		background-color: transparent;
		cursor: pointer;
		position: relative;
		align-items: center;
		display: flex;
	}
}
