.json__input {
	display: flex;
	flex-direction: column;
}

.json__output {
	height: var(--bt-size-percent-100);
}

.json__output_warning {
	min-height: var(--bt-size-500);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (min-width: 1280px) {
	.json__output_warning {
		min-height: var(--bt-size-600);
	}
}
