.dark .CodeMirror {
	background-color: rgb(32, 32, 32);
	color: white;
	caret-color: rgb(185, 31, 31);
	border: none;
}

.dark .CodeMirror .CodeMirror-cursor {
	border-left: 2px solid rgb(194, 194, 194); /* Change the caret color */
}

.dark .editor-toolbar {
	background-color: black;
	border: 1px solid #3a3a3a;
}

.dark .editor-toolbar button {
	color: white;
}

.dark .editor-toolbar button.active {
	background-color: gray;
}

.dark .editor-preview {
	background-color: black;
	color: white;
}

.dark .editor-statusbar {
	background-color: black;
}
