.pnf {
	/* Sometimes grid is simpler */
	display: grid;
	place-content: center;
	height: calc(100vh - 70px); /* Variable wasn't needed */
	img {
		width: var(--bt-size-percent-100);
		height: var(--bt-size-percent-100);
		object-fit: cover;
	}
}
