$pnf-height: calc(100vh - 70px);

.pnf {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: $pnf-height;
	img {
		width: var(--bt-size-percent-100);
		height: var(--bt-size-percent-100);
		object-fit: cover;
	}
}
