.cp {
	display: flex;

	&__result {
		display: flex;
		justify-content: space-between;
		gap: var(--bt-size-5);
		margin: 10px 0px;

		&__color {
			border: 1px dashed #ddd;
			padding: var(--bt-size-4) var(--bt-size-10);
			flex: 1;
			border-radius: var(--bt-size-5);
		}

		&__button {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
