$beam-z-indez: 100;
$beam-top: 50%;

.beam {
	position: fixed;
	right: var(--bt-size-8);
	top: $beam-top;
	z-index: $beam-z-indez;
	padding: var(--bt-size-10);
	background: var(--bt-color-border);
	cursor: pointer;
}
