.card {
	display: grid;

	&_space {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr auto;
	}

	&__avatar__text {
		font-weight: bold;
		font-size: 35px;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@media screen and (max-width: 550px) {
		width: 100%;
	}
}
