:root {
	--npm-size-minus-7: 7.5px;
}

.npm {
	max-width: var(--bt-converter-width);
	margin: var(--bt-size-0) auto;
}

.npm__card_tag {
	position: absolute;
	top: var(--bt-size-0);
	right: var(--npm-size-minus-7);
}
