.quill {
	height: 500px;
}

.collapsibleMenu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-inline-end: 1px solid rgba(253, 253, 253, 0.12);
}
