.container {
	height: var(--container-height);
	overflow: hidden;

	display: flex;

	.main {
		flex: 1;
		height: 100%;
		.header {
			position: sticky;
			width: 100%;

			top: 0;
			left: 0;
			margin: 0;
		}

		.content {
			padding: var(--content-padding);
			overflow-y: auto;
			height: 100%;

			// Firefox scrollbar
			scrollbar-width: var(--content-scrollbar-width);
			scrollbar-color: var(--store-2) var(--stone-7);
		}

		// chrome | Edge | safari scrollbar
		.content::-webkit-scrollbar {
			width: var(--content-scrollbar-width);
		}
		.content::-webkit-scrollbar-thumb {
			background-color: var(--gray-6);
		}
		.content::-webkit-scrollbar-track {
			background-color: var(--gray-4);
		}
	}
}
