/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
font-family: 'Inter', sans-serif; */

@import "./styles/colors.css";
@import "./styles/sizes.css";
@import "./styles/z-index.css";
@import "./styles/borders.css";

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

h1,
h2,
h3,
h4,
h5 {
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.ant-layout {
	min-height: 100vh;
}

.ant-layout-content {
	overflow-x: hidden;
	padding: var(--bt-size-24);
}

.ant-layout-header {
	position: sticky;
	top: 0;
	z-index: var(--bt-z-index-header);
	width: 100%;
	display: flex;
	align-items: center;
}