@import "./styles/colors.css";
@import "./styles/sizes.css";
@import "./styles/z-index.css";
@import "./styles/borders.css";
@import "./styles/typography.css";
@import "./styles/shadows.css";
@import "./styles/animations.css";

/* * {
	outline: 1px red solid;
} */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
	margin-block-start: 0px;
	margin-block-end: 0px;
	/* can we do better? */
	margin-bottom: 0 !important;
}

.ant-menu {
	border-inline-end: none !important;
}

.ant-layout-content,
.ant-menu {
	&::-webkit-scrollbar {
		width: var(--bt-size-8);
	}

	&::-webkit-scrollbar-track {
		background-color: var(--bt-color-scrollbar-track);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: var(--bt-border-radius-4);
		background-color: var(--bt-color-scrollbar-thumb);
	}
}

.ant-layout-content {
	overflow-x: auto;
	overflow-y: auto;
	max-height: 100dvh;
	padding: var(--bt-size-10);
	scroll-behavior: smooth;
}

.ant-layout-header {
	position: sticky;
	top: 0;
	z-index: var(--bt-z-index-header);
	width: 100%;
	display: flex;
	align-items: center;
	padding-inline: 0px;
}

.ant-menu-item {
	/* can we do better? */
	padding-left: 32px !important;
}
