@import "./styles/colors.css";
@import "./styles/sizes.css";
@import "./styles/z-index.css";
@import "./styles/borders.css";
@import "./styles/typography.css";
@import "./styles/shadows.css";
@import "./styles/animations.css";
@import "./styles/antd-overrides.css";

/* * {
	outline: 1px red solid;
} */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
