@import "./styles/colors.css";
@import "./styles/sizes.css";
@import "./styles/z-index.css";
@import "./styles/borders.css";
@import "./styles/typography.css";
@import "./styles/shadows.css";
@import "./styles/animations.css";

/* * {
	outline: 1px red solid;
} */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
	margin-block-start: 0px;
	margin-block-end: 0px;
	/* can we do better? */
	margin-bottom: 0 !important;
}

.ant-menu {
	border-inline-end: none !important;
}

.ant-menu-submenu {
	/* can we do better? */
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.ant-menu-item {
	/* can we do better? */
	padding-left: 32px !important;
}

.ant-layout-content,
.notification-container,
.ant-menu {
	&::-webkit-scrollbar {
		width: var(--bt-size-8);
	}

	&::-webkit-scrollbar-track {
		background-color: var(--bt-color-scrollbar-track);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: var(--bt-border-radius-4);
		background-color: var(--bt-color-scrollbar-thumb);
	}
}

.ant-layout-content {
	overflow-x: auto;
	overflow-y: auto;
	max-height: 100dvh;
	/* padding: var(--bt-size-10) var(--bt-size-10) 0 var(--bt-size-10); */
	scroll-behavior: smooth;
}

.ant-layout-header {
	position: sticky;
	top: 0;
	z-index: var(--bt-z-index-header);
	width: 100%;
	display: flex;
	align-items: center;
	padding-inline: 0px;
}

.ant-menu-title-content {
	margin-inline-start: 10px;
}

.ant-btn-icon-only {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tox-tinymce {
	/* can we do better? */
	border-radius: 10px 10px 0px 0px !important;
}

.ant-select-selection-search-input {
	font-size: 16px;
}

.ant-card-cover img {
	/* can we do better? */
	border-radius: 0 0 0 0 !important;
}

/* collapmenu align center */
.ant-menu-submenu-popup .ant-menu-vertical > .ant-menu-item {
	display: flex;
	align-items: center;
}

/* collapsible menu scroll */
.ant-menu-submenu-popup .ant-menu-vertical {
	max-height: 300px !important;
}

.ant-spin-dot-item {
	background-color: rgba(0, 0, 0, 0.8) !important;
}
