.privacypolicy {
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
	display: flex;

	ul {
		list-style-type: inherit;
	}

	&__header {
		background-color: #c0c0c0;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 100px;
		margin-bottom: 50px;
	}
}
