.sidebar {
	height: var(--bt-dvh-100);
	overflow: hidden;
}

.footer {
	display: flex;
	flex-direction: column;

	&__monogram {
		display: block;
		max-width: var(--bt-size-135);
		max-height: var(--bt-size-55);
		/* width and height are auto by default */
		/* "logical property" does top and bottom padding as shorthand */
		padding-block: var(--bt-size-10);
		margin-bottom: var(--bt-size-10);

		&_dark {
			border-bottom: var(--bt-border-solid-light);
		}

		&_light {
			border-bottom: var(--bt-border-solid-dark);
		}
	}

	&__menuCollapse {
		@media (max-width: 768px) {
			display: none;
		}
	}

	&__moon {
		margin-top: var(--bt-size-3);
	}

	&__sun {
		margin-top: var(--bt-size-minus-1);
	}
}
