:root {
	--qrcode-size-623: 623px;
}

.qrcode {
	&__label {
		display: flex;
		width: var(--bt-vw-100);
		justify-content: space-between;
	}

	&__output {
		height: var(--qrcode-size-623);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow-y: auto;
	}
}
