.qrcode {
	&__label {
		display: flex;
		width: var(--bt-vw-100);
		justify-content: space-between;
	}

	&__output {
		height: 623px;
		display: grid;
		place-content: center;
		overflow-y: auto;
	}
}
