.dg {
	&__left {
		&__bottom {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 20px 10px;

			&__select {
				margin-bottom: 10px;
				width: 100%;
			}

			&__input {
				margin-bottom: 10px;
				width: 100%;
			}

			&__autocomplete {
				margin-bottom: 10px;
				width: 100%;
			}
		}
	}

	&__right {
		display: grid;
		row-gap: 10px;
		grid-template-columns: 1fr;
	}
}
