.dg {
	display: grid;
	column-gap: 20px;
	grid-template-columns: 0.8fr 1fr;
	row-gap: 20px;

	&__left {
		display: grid;
		column-gap: 10px;
		grid-template-rows: 100px 100px;

		&_top {
			display: grid;
			column-gap: 10px;
			grid-template-columns: 1fr 1fr 1fr;
		}

		&_bottom {
			display: grid;
			column-gap: 10px;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&__right {
		display: grid;
		row-gap: 10px;
		grid-template-columns: 1fr;
	}
}
