.codeeditor {
	position: relative;
	&__validator {
		position: absolute;
		top: var(--bt-size-16);
		right: var(--bt-size-10);
		z-index: var(--bt-z-index-dropdown);

		&__success {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: var(--bt-size-2) var(--bt-size-6);
			border: var(--bt-size-1) solid green;
			border-radius: var(--bt-size-5);
		}

		&__failed {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: var(--bt-size-2) var(--bt-size-6);
			border: var(--bt-size-1) solid red;
			border-radius: var(--bt-size-5);
		}

		button {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
