.fb {
	z-index: var(--bt-z-index-dropdown);
	display: flex;
	height: var(--bt-size-64);
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
	position: absolute;
	right: var(--bt-size-18);

	&__container {
		right: var(--bt-size-10);
		position: sticky;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: row;
		gap: var(--bt-size-10);
	}
}
