.fb {
	/* flex direction is already row
     Move z-index near position,
     flex properties together */
	height: var(--bt-size-64);
	position: absolute;
	right: var(--bt-size-18);
	z-index: var(--bt-z-index-dropdown);
	display: flex;
	align-items: center;
	justify-content: flex-end;

	&__container {
		position: sticky;
		right: var(--bt-size-10);
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: var(--bt-size-10);
	}
}
