.sort {
	overflow: hidden;

	&__output {
		display: grid;
	}

	&__input,
	&__output {
		height: var(--bt-full-page-height);
	}

	&__input {
		&_label {
			display: flex;
			width: var(--bt-vw-100);
			justify-content: space-between;
		}
	}

	/* Moved variables here since you only use them once,
	   keep them as they convey meaning */
	&__input_textarea {
		$input-height: calc(100dvh - 210px);
		height: $input-height;
	}

	&__output_textarea {
		$output-height: calc(100dvh - 300px);
		height: $output-height !important;
	}
}
