.sort {
	overflow: hidden;

	&__output {
		display: grid;
	}

	&__input,
	&__output {
		height: var(--bt-full-page-height);
	}

	&__input {
		&_label {
			display: flex;
			width: 100vw;
			justify-content: space-between;
		}
	}
}
