.base {
	max-width: var(--bt-converter-width);
	display: flex;
	flex-direction: column;
	gap: var(--bt-size-16);

	&__base64Container {
		position: relative;

		&__validator {
			position: absolute;
			top: var(--bt-size-10);
			right: var(--bt-size-10);

			button {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
