.base {
	max-width: var(--bt-converter-width);
	display: flex;
	flex-direction: column;
	gap: var(--bt-size-16);
	&__controls {
		&_radio {
			display: flex;
			justify-content: center;
		}
		display: flex;
		gap: 5px;
		flex-direction: column;
		justify-content: center;
	}
}
