.st {
	display: grid;
	gap: var(--bt-size-16);
}

.colors {
	display: flex;
	flex-direction: column;
}

.colors__title {
	display: flex;
	align-items: center;
	gap: var(--bt-size-10);
}

.colors__list {
	display: flex;
	flex-direction: column;
	gap: var(--bt-size-4);
	justify-content: center;
}

.colors__list_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
