.cp {
	display: flex;
	gap: var(--bt-size-16);
	&__result {
		display: flex;
		justify-content: space-between;
		gap: var(--bt-size-5);

		&__color {
			flex: 1;
			border: var(--bt-border-dashed);
			padding: var(--bt-size-4) var(--bt-size-10);
			border-radius: var(--bt-size-5);
		}

		&__button {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
