$cp-size-380: 380px;
$cp-size-360: 360px;
$cp-size-minus-10: -10px;

.cp {
	display: grid;
	grid-template-columns:
		$cp-size-380 $cp-size-360 $cp-size-435
		$cp-size-435;
	gap: var(--bt-size-16);
	justify-content: center;

	&__inputs {
		display: grid;
		place-content: center;
	}

	&__result {
		display: flex;
		justify-content: space-between;
		gap: var(--bt-size-5);

		&__color {
			flex: 1;
			border: var(--bt-border-dashed);
			padding: var(--bt-size-4) var(--bt-size-10);
			border-radius: var(--bt-size-5);
		}

		&__button {
			display: grid;
			place-content: center;
		}
	}

	@media (max-width: 1900px) {
		grid-template-columns:
			$cp-size-435 $cp-size-360
			$cp-size-435;
	}

	@media (max-width: 1800px) {
		grid-template-columns: $cp-size-435 $cp-size-435;
	}

	@media (max-width: 1200px) {
		grid-template-columns: $cp-size-435;
	}
}

.cd {
	padding: var(--bt-size-5);
	transition: var(--bt-transition-item);
	border-radius: var(--bt-size-10);
	&__container {
		padding: var(--bt-size-11);
		transition: var(--animation-fade-in);
		border-radius: var(--bt-border-radius-4);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--bt-size-16);

		&_checkered {
			background-image: linear-gradient(
					45deg,
					rgba(0, 0, 0, 0.6) 25%,
					transparent 25%
				),
				linear-gradient(-45deg, rgb(0 0 0 / 0.6) 25%, transparent 25%),
				linear-gradient(45deg, transparent 75%, rgb(0 0 0 / 0.6) 75%),
				linear-gradient(-45deg, transparent 75%, rgb(0 0 0 / 0.6) 70%);
			background-size: var(--bt-size-20) var(--bt-size-20);
			background-position: 0 0, 0 var(--bt-size-10),
				var(--bt-size-10) $cp-size-minus-10,
				$cp-size-minus-10 var(--bt-size-0);
		}
	}
}

.dp {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cf {
	cursor: pointer;
}
