.cp {
	display: grid;
	grid-template-columns: 380px 360px 400px 380px;
	gap: var(--bt-size-16);
	justify-content: center;

	&__result {
		display: flex;
		justify-content: space-between;
		gap: var(--bt-size-5);

		&__color {
			flex: 1;
			border: var(--bt-border-dashed);
			padding: var(--bt-size-4) var(--bt-size-10);
			border-radius: var(--bt-size-5);
		}

		&__button {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	@media (max-width: 1730px) {
		grid-template-columns: 380px 360px 400px;
	}

	@media (max-width: 1500px) {
		grid-template-columns: 400px 400px;
	}

	@media (max-width: 1000px) {
		grid-template-columns: 400px;
	}
}
