.me {
	height: var(--bt-full-page-height);
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&__editor {
		flex: var(--bt-number-1);
		margin-top: var(--bt-size-20);
		overflow: auto;
	}
}
