.te {
	display: flex;
	flex-direction: column;

	&__footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		background-color: white;
		padding: 5px;
		color: rgba(34, 47, 62, 0.7);
		border-radius: 0px 0px 10px 10px;
		border-left: 2px solid #eee;
		border-bottom: 2px solid #eee;
		border-right: 2px solid #eee;

		&_dark {
			background-color: rgba(34, 47, 62, 0.7);
			color: white;
			border-color: rgba(34, 47, 62, 0.7);
		}
	}

	@media (max-width: 768px) {
		&__footer span {
			flex-basis: calc(33.333% - 10px);
			margin-bottom: 5px;
			text-align: center;
		}
	}
}
