.te {
	display: flex;
	flex-direction: column;

	&__footer {
		display: flex;
		justify-content: space-between;
		background-color: white;
		padding: 5px;
		color: rgba(34, 47, 62, 0.7);
		border-radius: 0px 0px 10px 10px;
		border-left: 2px solid #eee;
		border-bottom: 2px solid #eee;
		border-right: 2px solid #eee;
	}
}
