.textareaContainer {
	position: relative;
	&__validator {
		position: absolute;
		top: var(--bt-size-16);
		right: var(--bt-size-10);
		z-index: 10;

		&__success {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2px 6px;
			border: 1px solid green;
			border-radius: var(--bt-size-5);
		}

		&__failed {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2px 6px;
			border: 1px solid red;
			border-radius: var(--bt-size-5);
		}

		button {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
