.bs {
	display: flex;
	flex-direction: column;
	gap: var(--bt-size-20);
}

.bs__input,
.bs__output {
	height: var(--bt-size-percent-100);
}

.bs__output {
	display: flex;
	align-items: center;
	justify-content: center;
}
