$menu-height: calc(100dvh - 204px);
$menu-mobile-height: calc(100dvh - 168px);
$menu-collapsed-height: calc(100dvh - 202px);

.menu {
	height: $menu-height;
	overflow-y: auto;

	&__collapsed {
		height: $menu-collapsed-height;
	}

	@media (max-width: 768px) {
		height: $menu-mobile-height;
	}
}
