.menu {
	height: calc(100dvh - 200px);
	overflow-y: auto;
	display: flex;
	flex-direction: column;

	&__collapsed {
		height: calc(100dvh - 212px);
	}

	@media (max-width: 768px) {
		height: calc(100dvh - 172px);
	}
}
