.codeformatter {
	&__input {
		display: flex;
		flex-direction: column;
		height: var(--bt-size-percent-100);

		&_container {
			display: grid;
			grid-template-columns: auto auto auto;
			gap: var(--bt-size-10);
			align-items: center;
		}
	}

	&__output {
		height: var(--bt-size-percent-100);

		&_warning {
			min-height: var(--bt-size-500);
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		@media screen and (min-width: 1280px) {
			&_warning {
				min-height: var(--bt-size-600);
			}
		}
	}
}
