.codeformatter {
	&__input {
		display: flex;
		flex-direction: column;
		height: var(--bt-size-percent-100);
	}

	&__output {
		height: var(--bt-size-percent-100);

		&_warning {
			min-height: var(--bt-size-500);
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		// xl(1280px)
		@media screen and (min-width: 1280px) {
			&_warning {
				min-height: var(--bt-size-600);
			}
		}
	}
}
