.headerContainer {
	display: flex;
	justify-items: flex-end;
	&__toggler {
		margin-left: auto;
		margin-right: 0;
		width: fit-content;
	}

	background-color: var(--sand-0);

	&.darkmode {
		background-color: var(--gray-9);
	}
}
