.home {
	padding: 100px 10% 64px 10%;
	min-height: calc(100dvh - 272px);

	&__container {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	&__hero {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 100px;
		&_text {
			display: flex;
			flex: 2;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			gap: var(--bt-size-10);
			&_title {
				text-align: left;
			}
			&_paragraph {
				text-align: left;
				max-width: 700px;
			}
		}

		&_image {
			flex: 1;
		}
	}

	&__features {
		display: flex;
		align-items: center;

		&_card {
			height: 100%;
		}
	}

	&__contribution {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	@media screen and (max-width: 768px) {
		padding-top: 64px;
		&__hero {
			flex-direction: column;
			gap: 16px;
		}
	}
}
