$home-height: calc(100dvh - 272px);
$home-number-2: 2;
$home-hero-paragraph-width: 700px;
$home-z-index-100: 100;

.home {
	padding: var(--bt-size-100) var(--bt-size-percent-10) var(--bt-size-64)
		var(--bt-size-percent-10);
	min-height: $home-height;
	animation: var(--bt-animation-moveBackground);

	&__container {
		display: flex;
		flex-direction: column;
		gap: var(--bt-size-50);
	}

	&__hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: var(--bt-size-24);

		&__stats_container {
			display: grid;
			gap: var(--bt-size-20);
			grid-template-columns: repeat(3, minmax(auto, 300px));
		}

		&_paragraph {
			font-size: larger;
		}
	}

	&__features {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: var(--bt-size-50);
		background-color: rgba(128, 128, 128, 0.198);
		padding: var(--bt-size-100) var(--bt-size-percent-10) var(--bt-size-64)
			var(--bt-size-percent-10);
		border-radius: var(--bt-size-50);

		&_cover {
			display: grid;
			grid-template-columns: auto auto;
			align-items: center;
			gap: var(--bt-size-50);
			text-align: center;
		}

		&_cards {
			display: grid;
			gap: var(--bt-size-20);
			grid-template-columns: 1fr 1fr;

			&_card {
				&_content {
					padding: 10px;
					height: var(--bt-size-percent-100);
				}
			}
		}
	}

	&__contribution {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	@media screen and (max-width: 900px) {
		&__features {
			&_cover {
				flex-direction: column;
				text-align: center;
			}
			&_cards {
				grid-template-columns: 1fr;
			}
		}
	}
}
