.home {
	padding: 100px 10% 64px 10%;
	background: url("/src/assets/grid.svg");

	&__container {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	&__hero {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 100px;
		&_text {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}

	&__features {
		display: flex;
		align-items: center;
	}

	&__contribution {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	@media screen and (max-width: 768px) {
		padding-top: 64px;
		&__hero {
			flex-direction: column;
			gap: 16px;
		}
	}
}
