.fsb {
	position: absolute;
	top: var(--bt-size-8);
	right: 150px;
	padding: var(--bt-size-4);
	border-radius: var(--bt-size-10);
	z-index: var(--bt-z-index-dropdown);
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 900px) {
	.fsb {
		display: none;
	}
}
