.popsearch {
	&__container {
		max-height: 200px;
		overflow-y: auto;
		margin-top: var(--bt-size-10);

		&_item {
			padding: var(--bt-size-10) var(--bt-size-5);
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: var(--bt-size-10);
			margin-top: var(--bt-size-5);

			&_light:hover {
				background-color: #e0e0e0;
				border-radius: var(--bt-size-5);
			}

			&_light:first-child {
				background-color: #e0e0e0;
				border-radius: var(--bt-size-5);
			}

			&_dark:hover {
				background-color: #646363;
				border-radius: var(--bt-size-5);
			}

			&_dark:first-child {
				background-color: #646363;
				border-radius: var(--bt-size-5);
			}
		}
	}
}
