$popsearch-height: 200px;
$popsearch-bg-dark: #646363;
$popsearch-bg-color: #e0e0e0;

.popsearch {
	&__container {
		max-height: $popsearch-height;
		overflow-y: auto;
		margin-top: var(--bt-size-10);

		&_item {
			display: flex;
			align-items: center;
			gap: var(--bt-size-10);
			width: calc(100% - var(--bt-size-10));
			padding: var(--bt-size-10)  var(--bt-size-5);
			margin: 0 var(--bt-size-5);
			margin-top: var(--bt-size-5);
			border-radius: var(--bt-size-8);
			background-color: #ffff;
			border: none;
			cursor: pointer;
			line-height: 22px;

			&_light:hover {
				background-color: $popsearch-bg-color;
				border-radius: var(--bt-size-5);
			}

			&_dark:hover {
				background-color: $popsearch-bg-dark;
				border-radius: var(--bt-size-5);
			}

			&_dark:first-child {
				background-color: $popsearch-bg-dark;
				border-radius: var(--bt-size-5);
			}

			&_selected {
				background-color: $popsearch-bg-dark;
			}
		}
	}
}
