.qrcode {
	&__label {
		display: flex;
		width: 100vw;
		justify-content: space-between;
	}

	&__output {
		height: 266px;
		&__result,
		&__notfound {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__notfound {
			height: 200px;
			text-align: center;
		}
	}
}
