.shades {
	display: grid;
	gap: var(--bt-size-16);

	.cardContainer {
		position: relative;
		display: inline-block;

		.colorPickerDropdown {
			position: absolute;
			top: 100%;
			right: 10;
			left: 1000;
			z-index: var(--bt-z-index-dropdown);
			display: none;
		}

		&:hover .colorPickerDropdown {
			display: block;
		}
	}

	&__inputs {
		display: flex;
		justify-content: center;
	}

	&__container {
		display: flex;
		flex-direction: column;

		&_shades {
			display: flex;
			flex-direction: column;
			gap: var(--bt-size-4);
			justify-content: center;

			&_shade {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
}
