.shades {
	display: grid;
	gap: var(--bt-size-16);
	&__inputs {
		max-width: var(--bt-list-card-container);
	}

	&__container {
		display: flex;
		flex-direction: column;

		&_shade {
			display: flex;
			flex-direction: column;
			gap: var(--bt-size-4);
			justify-content: center;
		}
	}
}
