.te {
	display: flex;
	flex-direction: column;
	grid-gap: 20px;
	&__footer {
		margin-top: 20px;
		background-color: #25262b;
		display: flex;
		justify-content: space-between;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 0px 0px 4px 4px;
		h4 {
			color: white;
		}
	}
}
