$feedback-border-color: #ccc;

.feedback {
	padding: var(--bt-size-64) var(--bt-size-0) var(--bt-size-64)
		var(--bt-size-0);
	display: grid;
	place-content: center;

	.iframe,
	&__skeletons {
		width: var(--bt-size-percent-55);
		max-width: 1400px;
	}

	&__skeletons {
		height: 1949.375px; /* What... */
		display: flex;
		flex-direction: column;
		gap: var(--bt-size-20);
		padding: var(--bt-size-50);
		border: var(--bt-size-1) solid $feedback-border-color;
		background: white;
	}

	.iframe {
		border: var(--bt-size-1) solid $feedback-border-color;
		display: block;
		background: transparent;
	}

	@media (max-width: 1300px) {
		.iframe,
		&__skeletons {
			width: var(--bt-size-percent-70);
		}
	}

	@media (max-width: 1000px) {
		.iframe,
		&__skeletons {
			width: var(--bt-size-percent-90);
		}
	}
}
