:root {
	--feedback-size-1400: 1400px;
	--feedback-size-1949: 1949.375px;
	--feedback-border-color: #ccc;
}

.feedback {
	padding: var(--bt-size-64) 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.feedback__skeletons {
	width: var(--bt-size-percent-55);
	max-width: var(--feedback-size-1400);
	padding: var(--bt-size-50);
	height: var(--feedback-size-1949);
	border: var(--bt-size-1) solid var(--feedback-border-color);
	background: white;
	display: flex;
	flex-direction: column;
	gap: var(--bt-size-20);
}

.feedback .iframe,
.feedback__skeletons {
	width: var(--bt-size-percent-55);
	max-width: var(--feedback-size-1400);
}

.feedback .iframe {
	border: var(--bt-size-1) solid var(--feedback-border-color);
	display: block;
	background: transparent;
}

@media (max-width: 1000px) {
	.feedback .iframe,
	.feedback__skeletons {
		width: var(--bt-size-percent-90);
	}
}

@media (max-width: 1300px) {
	.feedback .iframe,
	.feedback__skeletons {
		width: var(--bt-size-percent-70);
	}
}
