.footer {
	display: flex;
	flex-direction: column;

	&__monogram {
		display: flex;
		aspect-ratio: auto;
		width: 100%;
		padding: var(--bt-size-5);
	}

	&__menuCollapse {
		@media (max-width: 768px) {
			display: none;
		}
	}
}
