.footer {
	padding: var(--bt-size-20) var(--bt-size-20) var(--bt-size-50)
		var(--bt-size-50);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

	&__left {
		padding-right: 100px;
		border-right: 1px solid #e8e8e8;
		margin-right: 120px;
	}

	&__right {
		padding-top: var(--bt-size-20);
	}

	&__list {
		padding: 0px;
		list-style-type: none;
		li {
			margin: var(--bt-size-10) 0px;
		}
	}
}

@media screen and (max-width: 768px) {
	.footer {
		&__left {
			border-right: none;
			padding-right: 0px;
			margin-right: 0px;
		}
		grid-template-columns: 1fr;
	}
}
