.footer {
	padding: var(--bt-size-50);

	&__left {
		border-right: 1px solid #e8e8e8;
		height: "100%";
	}

	&__list {
		list-style-type: none;
		li {
			margin: var(--bt-size-10) 0px;
			a {
				text-decoration: none;
				font-size: var(--bt-size-18);
			}
		}

		padding: 0px;
	}
}
