.footer {
	padding: 30px 10% 30px 10%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	box-shadow: inset 0px 1px 0px #e8e8e8;

	&__left {
		padding-right: 5vw;
		border-right: 1px solid #e8e8e8;
		margin-right: 6vw;
	}

	&__right {
		padding-top: var(--bt-size-20);
	}

	&__list {
		padding: 0px;
		list-style-type: none;
		li {
			margin: var(--bt-size-10) 0px;
		}
	}
}

@media screen and (max-width: 768px) {
	.footer {
		text-align: center;
		&__left {
			border-right: none;
			padding-right: 0px;
			margin-right: 0px;
		}
		grid-template-columns: 1fr;
	}
}
