.notification {
	height: 300px;
	width: 200px;
	overflow-y: auto;
	overflow-x: hidden;

	.notificationItem {
		padding: 12px;
		border-bottom: 1px solid #eee;

		&__title {
			display: flex;
			justify-content: space-between;
		}
	}

	.features {
		margin-top: 8px;
	}

	.feature {
		font-size: 14px;
		line-height: 1.4;
		margin-bottom: 4px;
	}
}
