.notification {
	height: 300px;
	width: 200px;
	overflow-y: auto;
	overflow-x: hidden;

	&__item {
		border-bottom: 1px solid #eee;
		padding-top: 8px;

		&_title {
			display: flex;
			justify-content: space-between;
		}

		&_features {
			padding-top: 8px;
			margin-left: -25px;
			padding-bottom: 8px;
		}
	}
}
