.resource {
	display: grid;

	&_space {
		display: grid;
		grid-template-columns: var(--bt-grid-template-1) var(
				--bt-grid-template-1
			) var(--bt-grid-template-1) auto;
	}

	&__avatar {
		display: flex;
		align-items: center;
		height: var(--bt-size-50);
		width: var(--bt-size-50);
		font-size: var(--font-size-fluid-1);
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@media screen and (max-width: 550px) {
		width: var(--bt-size-percent-100);
	}
}
