.igfc {
	display: grid;
	padding-left: 20px;
	padding-right: 20px;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	.colors {
		display: flex;
		grid-column: 1/-1;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 10px;
		column-gap: 40px;
		&__color {
			display: grid;
			justify-items: center;
			h5 {
				color: #fff;
			}
		}
	}
}
