$cp-right: 10px;
$cp-left: 1000px;
$cp-bg-color: rgb(68, 68, 68);

.cpwi {
	&__color {
		position: relative;
		display: inline-block;
		display: flex;
		align-items: center;

		&_dp {
			background-color: $cp-bg-color;
			padding: var(--bt-size-10);
			border-radius: var(--bt-size-10);
			position: absolute;
			top: var(--bt-size-percent-100);
			right: $cp-right;
			left: $cp-left;
			z-index: var(--bt-z-index-dropdown);
			display: none;
		}

		&:hover &_dp {
			display: block;
		}
	}
}
