.cpwi {
	&__color {
		position: relative;
		/* inline-block immediately overridden, assuming error and not for browser support */
		display: flex;
		align-items: center;
		cursor: pointer;

		&_dp {
			background-color: rgb(68 68 68);
			padding: var(--bt-size-10);
			border-radius: var(--bt-size-10);
			top: 27px;
			left: -12px;
			z-index: 9999; /* Hacky? */
			display: none;
			position: absolute;
		}

		&:hover &_dp {
			display: block;
		}
	}
}
