.cpwi {
	&__color {
		position: relative;
		display: inline-block;
		display: flex;
		align-items: center;

		&_dp {
			background-color: rgb(68, 68, 68);
			padding: 10px;
			border-radius: 10px;
			position: absolute;
			top: 100%;
			right: 10;
			left: 1000;
			z-index: var(--bt-z-index-dropdown);
			display: none;
		}

		&:hover &_dp {
			display: block;
		}
	}
}
