$notification-size-200: 200px;
$notification-size-300: 300px;
$notification-status-color: #c83939;
$notification-size-minus-25: -25px;

.notification {
	height: $notification-size-300;
	width: $notification-size-200;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: var(--bt-size-8);

	&__error {
		text-align: center;
		color: red;
	}

	&__button {
		border: none;
		box-shadow: none;
		background-color: transparent;
		cursor: pointer;
		position: relative;
		align-items: center;
		display: flex;

		&__status {
			width: var(--bt-size-7);
			height: var(--bt-size-7);
			background-color: $notification-status-color;
			position: absolute;
			border-radius: var(--bt-size-percent-100);
			top: var(--bt-size-5);
			right: var(--bt-size-17);
			border-color: white;
			border-width: var(--bt-size-1);
			border-style: solid;
		}
	}

	&__item {
		&_title {
			display: flex;
			justify-content: space-between;
		}

		&_features {
			padding-top: var(--bt-size-8);
			margin-left: $notification-size-minus-25;
			padding-bottom: var(--bt-size-8);
			list-style-type: square;

			&_feature {
				font-size: var(--bt-size-11);
			}
		}
	}
}
