.notification {
	height: 300px;
	width: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 8px;

	&__error {
		text-align: center;
		color: red;
	}

	&__button {
		border: none;
		box-shadow: none;
		background-color: transparent;
		cursor: pointer;
		position: relative;

		&__status {
			width: var(--bt-size-7);
			height: var(--bt-size-7);
			background-color: #c83939;
			position: absolute;
			border-radius: 100%;
			top: var(--bt-size-5);
			right: 17px;
			border-color: white;
			border-width: 1px;
			border-style: solid;
		}
	}

	&__item {
		&_title {
			display: flex;
			justify-content: space-between;
		}

		&_features {
			padding-top: var(--bt-size-8);
			margin-left: var(--bt-size-minus-25);
			padding-bottom: var(--bt-size-8);
			list-style-type: square;

			&_feature {
				font-size: var(--bt-size-11);
			}
		}
	}
}
