:root {
	--igfc-bg-color: rgba(255, 255, 255, 0.2);
}

.igfc__card {
	min-height: var(--bt-card-height);
}

.igfc__colors {
	grid-column: 1 / -1;
	margin-top: var(--bt-size-16);
	position: relative;
	background: var(--igfc-bg-color);
}

.igfc__images {
	display: flex;
	flex-wrap: wrap;
	gap: var(--bt-size-16);
	position: relative;
}

.igfc__images_image {
	display: flex;
	flex-direction: column;
	gap: var(--bt-size-16);
}

.igfc__images_image__title {
	text-align: center;
}
