.legal {
	padding: var(--bt-size-64) var(--bt-size-percent-10) var(--bt-size-64)
		var(--bt-size-percent-10);
	display: flex;

	ul {
		list-style-type: inherit;
	}

	ul li {
		padding: var(--bt-size-5);
	}

	h1 {
		margin-bottom: var(--bt-size-64) !important;
		padding: var(--bt-size-percent-10);
		border-radius: var(--bt-size-10);
		background-color: #c0c0c0;
		display: grid;
		place-content: center;
	}
}
