:where(html) {
	--ease-1: cubic-bezier(0.25, 0, 0.5, 1);
	--animation-fade-in: background-color 300ms ease;
	--bt-animation-moveBackground: moveBackground 100s linear infinite;
	--bt-transition-item: background 300ms var(--ease-1);
}

@keyframes moveBackground {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 0;
	}
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
}
