h1,
h2,
h3,
h4,
h5 {
	margin-block-start: 0px;
	margin-block-end: 0px;
	/* can we do better? */
	margin-bottom: 0 !important;
}

.ant-menu {
	border-inline-end: none !important;
}

.ant-menu-submenu {
	/* can we do better? */
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.ant-menu-item {
	/* can we do better? */
	padding-left: 32px !important;
}

.ant-layout-content,
.notification-container,
.search_container,
.qrcode,
.ant-menu {
	&::-webkit-scrollbar {
		width: var(--bt-size-8);
	}

	&::-webkit-scrollbar-track {
		background-color: var(--bt-color-scrollbar-track);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: var(--bt-border-radius-4);
		background-color: var(--bt-color-scrollbar-thumb);
	}
}

.ant-layout-content {
	overflow-x: auto;
	overflow-y: auto;
	max-height: 100dvh;
	scroll-behavior: smooth;
}

.ant-layout-header {
	position: sticky;
	top: 0;
	z-index: var(--bt-z-index-header);
	width: 100%;
	display: flex;
	align-items: center;
	padding-inline: 0px;
}

.ant-menu-title-content {
	margin-inline-start: 10px;
}

.ant-btn-icon-only {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tox-tinymce {
	/* can we do better? */
	border-radius: 10px 10px 0px 0px !important;
}

.ant-select-selection-search-input {
	font-size: 16px;
}

.ant-card-cover img {
	/* can we do better? */
	border-radius: 0 0 0 0 !important;
}

/* collapmenu align center */
.ant-menu-submenu-popup .ant-menu-vertical > .ant-menu-item {
	display: flex;
	align-items: center;
}

/* collapsible menu scroll */
.ant-menu-submenu-popup .ant-menu-vertical {
	max-height: 300px !important;
}

.ant-typography a,
a {
	color: grey;
	transition: all 0.5s ease;
}

.ant-typography a:hover,
a:hover {
	text-decoration: underline;
	transition: all 0.5s ease;
}

.ant-typography p {
	margin-bottom: 0px !important;
}

/* modal dark mode */
.dark .ant-modal-content {
	background-color: #383737 !important;
	color: white;
}

.dark .ant-modal-content .ant-modal-header {
	background-color: transparent !important;
}

.dark .ant-modal-content .ant-modal-header .ant-modal-title {
	color: white;
}

.dark .ant-input-affix-wrapper {
	background-color: transparent !important;
	border-color: #afadad !important;
}

.dark .ant-input-affix-wrapper .ant-input {
	background-color: transparent !important;
	color: white !important;
}

.dark .ant-input-affix-wrapper .ant-input::placeholder {
	color: rgb(143, 143, 143) !important;
}

.dark .ant-input-search-button {
	background-color: transparent;
	color: white !important;
}

.dark .anticon svg {
	color: white !important;
}
/* end modal dark mode */

.ant-layout .ant-layout-sider-children {
	padding-top: 0px;
}

.ant-input-affix-wrapper,
.ant-tag,
.ant-menu .ant-menu-title-content,
.ant-btn,
.ant-input-group .ant-input-group-addon,
.ant-card-hoverable,
.ant-input {
	transition: none;
}

.ant-carousel .slick-dots-bottom li {
	background-color: var(--bt-color-bg);
}

@media (max-width: 500px) {
	.ant-layout-content,
	.notification-container,
	.search_container,
	.ant-menu {
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
