:where(html) {
	--bt-color-border: #ddd;
	--bt-color-border-solid-light: rgba(250, 250, 250, 0.06);
	--bt-color-border-solid-dark: rgba(5, 5, 5, 0.06);
	--bt-color-scrollbar-thumb: #707070;
	--bt-color-scrollbar-track: #c9c8c8;
	--bt-color-bg: rgba(0, 0, 0, 0.5);
}
