:where(html) {
	--bt-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	/* --bt-footer-box-shadow: inset 0px 1px 0px #e8e8e8; Zero values don't require units */
	--bt-footer-box-shadow: inset 0 1px 0 #e8e8e8;
}
