:where(html) {
	--bt-list-card-container: 600px;
	--bt-converter-width: 800px;

	--bt-size-2: 2px;
	--bt-size-4: 4px;
	--bt-size-5: 5px;
	--bt-size-8: 8px;
	--bt-size-10: 10px;
	--bt-size-16: 16px;
	--bt-size-24: 24px;
	--bt-size-30: 30px;
	--bt-size-35: 35px;
	--bt-size-40: 40px;
	--bt-size-50: 50px;
	--bt-size-64: 64px;
	--bt-size-100: 100px;
}
