:where(html) {
	@font-face {
		font-family: "Inter";
		src: url("./src/assets/fonts/Inter-Regular.woff2") format("truetype"),
			url("./src/assets/fonts/Inter-Regular.woff") format("truetype");
		font-weight: 400;
		font-style: normal;
	}

	--font-sans: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
		Cantarell, Noto Sans, sans-serif;
}
