.diffchecker {
	&__button {
		display: flex;
		justify-content: center;
		padding: var(--bt-size-20) var(--bt-size-0);
	}

	&__part {
		white-space: pre-wrap;
	}
	&__removed {
		background-color: salmon;
	}
	&__added {
		background-color: lightgreen;
	}

	pre {
		overflow: scroll;
	}
}
