/* Add this CSS to your component's stylesheet (e.g., Sorting.module.scss) */

/* Style for the Warning component */
.warning {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
