.fg {
	display: flex;
	flex-direction: column;
	gap: var(--bt-size-20);
}

.fg__input,
.fg__output {
	height: var(--bt-size-percent-100);
}

.fg__output {
	display: flex;
	align-items: center;
	justify-content: center;
}
