.about {
	padding: var(--bt-size-64) var(--bt-size-percent-10) var(--bt-size-64)
		var(--bt-size-percent-10);
	display: flex;
	flex-direction: column;
	gap: var(--bt-size-20);

	&__card {
		margin: var(--bt-size-0) auto;
		max-width: var(--bt-converter-width);

		&__intro {
			p {
				text-align: right;
				background: linear-gradient(
					to bottom,
					rgb(44 44 44 / 0.802) 50%,
					transparent 50%
				);
				/* font-size: 16px; Font size is already 16 by default */
				padding: var(--bt-size-10);
				border-radius: var(--bt-size-8);
				background-repeat: repeat-y;
				background-size: 1000% 1px;
			}

			&_text {
				color: white !important;
			}
		}

		&_cover {
			background: url('../../assets/About/cover.webp') no-repeat left /
				cover;
		}
	}

	&__sponsor {
		display: inline-flex;
		align-items: center;
		gap: var(--bt-size-8);
	}

	&_slider_card {
		@media screen and (min-width: 1240px) {
			max-width: var(--bt-converter-width);
			margin: 0 auto;
		}
	}

	&__card__credits__tag {
		cursor: pointer;
	}
}
