.about {
	display: grid;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	&__socials {
		display: flex;
		justify-content: center;
		&_button {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
