.about {
	padding: 64px 10% 64px 10%;

	&__card {
		margin: 0 auto;
		max-width: var(--bt-converter-width);

		&__container {
			display: flex;
			flex-direction: column;
			gap: var(--bt-size-20);
		}

		&__intro {
			display: flex;
			align-items: center;
			justify-content: center;

			&_text {
				background: linear-gradient(
						rgba(0, 0, 0, 0.1),
						rgba(0, 0, 0, 0.2),
						rgba(0, 0, 0, 0.3),
						rgba(0, 0, 0, 0.3),
						rgba(0, 0, 0, 0.2),
						rgba(0, 0, 0, 0.1)
					),
					url("src/assets/About/card_bg.jpg") no-repeat left / cover;

				background-blend-mode: color-dodge;

				object-fit: cover;
				background-color: #9c9c9c98;
				display: flex;
				justify-content: center;
				flex-direction: column;
				padding: 50px;

				p {
					text-align: right;
				}
			}
		}
	}
}
