$svg-size-335: 335px;

.svgformatter {
	&__left,
	&__right {
		display: flex;
		flex-direction: column;
		gap: var(--bt-size-20);

		&__code {
			min-height: $svg-size-335;
			display: grid;
		}
	}
}
